In [1]:
import pandas as pd
import pickle
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from IPython.display import Image
import matplotlib.gridspec as gridspec
import seaborn as sns
import warnings
%matplotlib inline 
%config InlineBackend.figure_format = 'retina' 
pd.set_option('display.max_columns', None) 
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
df = pd.read_csv("attrition_data.csv")
display(df.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
def predict_ready(dframe):
    dframe = dframe.drop(columns=['Over18', 'EmployeeCount', 'StandardHours', 'EmployeeNumber'])
    for cate_features in dframe.select_dtypes(include='object').columns:
        le = preprocessing.LabelEncoder()
        dframe[cate_features] = le.fit_transform(dframe[cate_features])
        #print("Origin Classes:", list(le.classes_))

    dummies = ['Department', 'EducationField', 'JobRole', 'MaritalStatus']
    dframe = pd.get_dummies(data=dframe, columns=dummies)
    #display(df.head())
    numerical_list = ['Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate', 'MonthlyIncome', 'MonthlyRate',
                  'NumCompaniesWorked', 'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear',
                  'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

    std = preprocessing.StandardScaler()
    scaled = std.fit_transform(dframe[numerical_list])
    scaled = pd.DataFrame(scaled, columns=numerical_list)
    for i in numerical_list:
        dframe[i] = scaled[i]
    std = preprocessing.StandardScaler()
    scaled = std.fit_transform(dframe[numerical_list])
    scaled = pd.DataFrame(scaled, columns=numerical_list)
    for i in numerical_list:
        dframe[i] = scaled[i]
    #display(df.head())
    dframe = dframe.drop(columns=['Attrition'])
    return dframe

In [ ]:
preprocessedData = predict_ready(df)
display(preprocessedData.head())

In [ ]:
file = open('decisiontree1.pkl', "rb")
dt = pickle.load(file)

In [ ]:
results = dt.predict(preprocessedData)
#my_confusion_matrix(y_test, y_test_pred_tree1) # Defined before
#tree1_auc = roc_auc_score(y_test, y_test_pred_tree1)
#print("AUC:", tree1_auc)

In [ ]:
res = list(results)
exit = res.count(1)
stay = res.count(0)
print('Number of employees predicted to be leaving the company:',exit)
print('Number of employees predicted to stay in the company:',stay)
print('Attrition rate = ', (exit / stay) * 100)